.elementor-82 .elementor-element.elementor-element-f4ab365{text-align:center;}.elementor-82 .elementor-element.elementor-element-f4ab365 .elementor-heading-title{font-size:70px;}.elementor-82 .elementor-element.elementor-element-5a17f9c{text-align:center;}